
.blog-link {
  & + & {
    margin-top: $spacing-gerbil;
  }
}

.blog-link-heading {
  font-size: $font-mouse;
  color: $blue;
  margin-bottom: $spacing-mouse;
}

.blog-link-type {
  text-transform: capitalize;
}
