
:root {
  @include typography;
}

h1:not([class]) {
  font-family: $secondary-font-bold;
  font-size: $font-size-gerbil;
  margin-top: $spacing-gerbil;
  margin-bottom: $spacing-mouse;
}
h2:not([class]) {
  font-family: $secondary-font-bold;
  font-size: $font-size-mouse;
  margin-top: $spacing-cat;
  margin-bottom: $spacing-mouse;
}

h3:not([class]),
h4:not([class]),
h5:not([class]),
h6:not([class]) {
  font-family: $secondary-font-bold;
  font-size: $font-size-ant;
  margin-top: $spacing-gerbil;
  margin-bottom: $spacing-mouse;
}

a {
  color: inherit;
  text-decoration: underline;

  &:hover {
    text-decoration-style: double;
  }
}

p:not([class]) + p:not([class]) {
  margin-top: $spacing-mouse;
}

b,
strong {
  font-family: $primary-font-bold;
}

ul {
  margin-bottom: $spacing-gerbil;
  list-style-type: square;
}

li + li {
  margin-top: $spacing-mouse;
}
