.theme-blue {
  background-color: $blue;
  color: $blue-dark;

  h1:not([class]),
  h2:not([class]),
  h3:not([class]),
  h4:not([class]),
  h5:not([class]),
  h6:not([class]) {
    color: $black;
  }

  ::selection {
    color: $blue;
    background-color: $blue-dark;
  }

  img {
    margin-top: $spacing-gerbil;
    margin-right: auto;
    margin-bottom: $spacing-gerbil;
    margin-left: auto;
  }
}
