$spacing-flea: 0.2rem;
$spacing-ant: 0.5rem;
$spacing-mouse: 1rem;
$spacing-gerbil: 2rem;
$spacing-cat: 3rem;
$spacing-whale: 4rem;

$tiny-breakpoint: 350px; // iPhone 5/SE
$small-breakpoint: 414px; // iPhone 6/7/8 Plus
$medium-breakpoint:  768px; // iPad
$large-breakpoint: 1024px; // iPad Pro

$min-site-width: $tiny-breakpoint;
$max-site-width: $large-breakpoint;
