$spacing-flea: 5px;
$spacing-ant: 10px;
$spacing-mouse: 20px;
$spacing-gerbil: 40px;
$spacing-whale: 100px;

$small-breakpoint: 411px;
$medium-breakpoint:  768px;
$large-breakpoint: 1080px;

$site-max-width: $large-breakpoint;
