.global-wrapper {
  width: 100%;
  min-height: 100vh;
}

.wrapper {
  width: 90%;
  max-width: $max-site-width;
  margin-right: auto;
  margin-left: auto;

  > * {
    width: 100%;
  }
}

.iframe-wrapper {
  display: flex;
  justify-content: center;
  margin-top: $spacing-cat;
  margin-bottom: $spacing-cat;

  iframe {
    max-width: 100%;
  }
}